body {
    background-color: rgba(40, 40, 40, 1);
    margin: 0;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica Neue, sans-serif;
}

.content {
    margin: 8px;
    padding: 8px;
    animation: fade-in 1s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.header {
    background-color: black;
    padding: 10px;
    z-index: 100;

    position: sticky;
    top: 0;

    border-image: linear-gradient(to right, #EF476F, #3A06D6,#06D6A0);
    border-image-slice: 1;
    border-style: solid;
    border-width: 0 0 5px 0;
}

.logo {
    border-right: white solid 2px;
    display: inline-block;
    padding: 0px 8px;
}

.menu {
    display: inline-flex;
    vertical-align: super;
    margin: 0px 16px;
}

.menu > div {
    font-size: 14px;
    margin: 8px;
    padding: 8px;
    font-weight: bold;
    
}

.menu > div:hover {
    cursor: pointer;
}

.menu > div:after {
    display: block;
    content: '';
    border-color: gray;
    border-style: solid;
    border-width: 0 0 2px 0;

    transform: scaleX(0);
    transition: transform 500ms ease-in-out, border-color 500ms ease-in-out;
}

.menu > div:hover:after {
    transform: scaleX(1);
}

.menu > div.active:after {
    transform: scaleX(1);
    border-color: white;
}

.catalog-header {
    font-family: "Century Gothic", Arial, Helvetica Neue, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 300;
    margin: 8px 0px;
}

.catalog {
    margin: 0px 0px 72px 0px;
}

input[type = button] {
    background-color: black;
    border-image: linear-gradient(to right, #EF476F, #3A06D6,#06D6A0);
    border-image-slice: 1;
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;

    color: white;
    font-family: 'Open Sans', Arial, Helvetica Neue, sans-serif;
    font-weight: bold;
}

.not-safe {
    display:none;
}